.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  margin: 0 0 22px;
}

.postInformation {
  display: flex;
  margin: 0 0 10px;
}

.companyLogo {
  padding: 12px 15px 0 0;
}

.right {
  display: block;
  width: 100%;
}

.position {
  font-size: 1.15rem;
  font-weight: 500;
  color: #3d3d3d;
}

.subHeading {
  display: flex;
  justify-content: space-between;
}

.company {
  font-size: 20px;
  font-weight: 400;
  color: #3d3d3d;
}

.dateContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 300;
}

.dateItem {
  color: #3d3d3d;
}

.description {
  color: #666;
}
